/* 
    Document   : footer.css
    Created on : Oct 24, 2013, 8:16:05 AM
    Author     : singhabhinavds
    Description:
        Purpose of the stylesheet follows.
*/

#footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
    padding: 20px 0 20px 0;
    text-align: center;
    border-top: 1px solid #8b8a8b;
    background-color: #343233;
}

.footer_list {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.footer_list li {
    padding: 0 10px;
    display: inline;
    border-right: 1px solid #cccccc;
}

.footer_list li a {
    color: #cccccc;
    text-decoration: none;
}

.footer_list li a:hover {
    color: #fcdd31;
}

.footer_list .last {
    border-right: none;
}
