/* 
    Document   : header
    Created on : Oct 10, 2013, 2:16:56 AM
    Author     : singhabhinavds
    Description:
        Purpose of the stylesheet follows.
*/

body{
    background-color: #000;
}
.menu {
    width: 100%;
    height: 60px;
    background: url(../images/menu_bg.jpg) repeat-x;
}

.menu ul {
    margin: 0px;
    padding: 0px 0px 0px 6px;
    list-style: none;
}

.menu ul li {
    margin: 0px;
    padding: 0px;
    display: inline;
}

.menu ul li a {
    position: relative;	
    float: left;
    display: inline-block;
    height: 40px;
    width: 13.7%;
    margin-right: 8px;
    text-align: center;
    padding: 12px 0 0 0;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;	
    outline: none;
}

.menu li a:hover, #templatemo_menu li .current {
    position: relative;
    color: #ffffff;
    background: url(../images/menu_hover_right.jpg) top right no-repeat;
}

.menu li a:hover span, #templatemo_menu li .current span	{
    position: absolute;
    display: inline-block;
    width: 15px;
    height: 42px;
    top: 0;
    left: 0;
    background: url(../images/menu_hover_left.jpg) no-repeat;
}
