.gallery{
    height: 50%;
    padding-bottom: 2%;
}

.gallery img{
    height: 100%;
    margin-left: 3%;
    margin-right: 3%;
}
.journey_planner, .newsfeed, .timetable{
    color: #FFFFFF;
    background-color: grey;
    margin-left: 3%;
    float: left;
    width: 28%;
    position: relative; 
}

#journey_planner_header, #timetable_header , #newsfeed_header{
    font-size: 20px;
}

hr{
    margin-left: 0%;
}

#timetable_search{
    font-size: 20px;
}

#timetable_search input[type=text]{
    width: 50%;
    height: 4%;
    margin-bottom: 20px;
}

.message{
    color: white;
    display: block;
    text-align:center;
    margin: 0 auto;
}

.tabs input[type=radio] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.tabs {
    float: none;
    list-style: none;
    position: relative;
    padding: 0;
    margin-top: initial;
}
.tabs li{
    float: left;
}
.tabs label {
    display: block;
    padding: 10px 20px;
    border-radius: 2px 2px 0 0;
    color: #693B8D;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', helveti;
    background: rgba(255,255,255,0.2);
    cursor: pointer;
    position: relative;
    top: 3px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.tabs label:hover {
    background: rgba(255,255,255,0.5);
    top: 0;
}

[id^=tab]:checked + label {
    background: #693B8D;
    color: white;
    top: 0;
}

[id^=tab]:checked ~ [id^=tab-content], [id^=tab]:checked ~ [id^=tab-content] > div {
    display: block;
}
.tab-content{
    z-index: 2;
    display: none;
    text-align: left;
    overflow: hidden;
    width: 100%;
    font-size: 20px;
    line-height: 140%;
    padding-top: 10px;
    background: #693B8D;
    padding: 15px;
    color: white;
    position: absolute;
    top: 53px;
    left: 0;
    box-sizing: border-box;
}
.tab-content > div{
    display: none;
    -webkit-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

#submit_bus_code{
	-moz-box-shadow:inset 0px 0px 19px 0px #caefab;
	-webkit-box-shadow:inset 0px 0px 19px 0px #caefab;
	box-shadow:inset 0px 0px 19px 0px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
	background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color:#77d42a;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0px;
	border:2px solid #268a16;
	display:inline-block;
	color:#306108;
	font-family:Arial Black;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:46px;
	line-height:46px;
	width:168px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 0px 0px #aade7c;
}

#submit_bus_code:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
	background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
	background-color:#5cb811;
}

#submit_bus_code:active {
	position:relative;
	top:1px;
}