/* 
    Document   : home
    Created on : Oct 24, 2013, 10:41:18 AM
    Author     : singhabhinavds
    Description:
        Purpose of the stylesheet follows.
*/


.gallery{
    height: 50%;
}

.gallery img{
    height: 100%;
    margin-left: 3%;
    margin-right: 3%;
}
.journey_planner, .newsfeed, .timetable{
    color: #FFFFFF;
    background-color: #990000;
    margin-left: 3%;
    float: left;
    width: 30%;
    position: relative;
}

#journey_planner_header, #timetable_header , #newsfeed_header{
    font-size: 20px;
}

hr{
    margin-left: 0%;
}
